.container {
  max-width: 350px;
  height: 470px;
  margin: auto;
  margin-top: 100px;
  text-align: center;
  border-radius: 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.title {
  padding: 20px 0px 5px 0px;
  font-weight: bold;
}

.container__form {
  max-width: 280px;
  margin: auto;
  margin-top: 30px;
}

input {
  border: black 2px solid;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
}

/* INPUT FILE*/

.profile_image {
  opacity: 0;
  width: 0.1px;
  height: 0.1px;
  position: absolute;
}

.container__profile__image {
  margin: 10px;
}

.container__profile__image label {
  border: black 2px solid;
  border-radius: 10px;
  padding: 5px 10px;
}

button {
  border: black 2px solid;
  border-radius: 10px;
  padding: 5px 10px;
  margin: 10px;
}
