* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: rgb(236, 236, 236);
}

a {
  font-style: none;
  color: white;
  text-decoration: none;
}

ul li {
  list-style: none;
}

.nav__bar {
  background-color: black;
  display: flex;
}

.nav__links {
  display: flex;
  max-width: 50%;
  margin: auto;
  justify-content: space-between;
}

.nav__items {
  margin: 20px;
  color: white;
}

@media only screen and (max-width: 768px) {
  .nav__links {
    max-width: 100%;
    font-size: 15px;
    align-items: center;
    text-align: center;
  }
}
