.container {
  max-width: 80%;
  margin: auto;
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

.card {
  max-width: 320px;
  height: 360px;
  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin: auto;
  margin-bottom: 30px;
}

.card__img img {
  max-width: 320px;
  border-radius: 2px 2px 0px 0px;
}

.card__info {
  font-size: 15px;
  line-height: 20px;
  text-wrap: balance;
  padding: 10px;
}

.title {
  font-weight: 600;
}

.creator__post__info {
  display: flex;
  margin: 10px 0px;
  color: rgb(148, 148, 148);
  justify-content: space-around;
}

.user__info {
  display: flex;
}

.user__info img {
  max-width: 20px;
  margin-right: 5px;
}

.container__edit__btn {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.edit__btn {
  padding: 5px 10px;
  background-color: green;
  border-radius: 10px;
  margin: 2px;
  transition: 0.3s;
}

.edit__btn:hover {
  background-color: rgb(0, 85, 0);
}

.delete__btn {
  padding: 5px 10px;
  background-color: red;
  border-radius: 10px;
  border: none;
  color: white;
  font-size: 17px;
  margin: 2px;
  cursor: pointer;
  transition: 0.3s;
}

.delete__btn:hover {
  background-color: rgb(182, 1, 1);
}

.no__posts {
  max-width: 80%;
  margin: auto;
  padding: 50px;
  text-align: center;
  font-weight: bold;
}

@media only screen and (max-width: 768px) {
  .container {
    max-width: 80%;
    margin: auto;
    margin-top: 50px;
    display: block;
  }
}
