.container {
  max-width: 350px;
  height: 390px;
  margin: auto;
  margin-top: 100px;
  text-align: center;
  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.container__profile__image img {
  max-width: 200px;
  border-radius: 100%;
  margin: 20px;
}

.container__info__profile {
  margin: 20px;
}

.logout__btn {
  padding: 5px 10px;
  background-color: red;
  border-radius: 10px;
  border: none;
  color: white;
  font-size: 17px;
  margin: 2px;
  cursor: pointer;
  transition: 0.3s;
}

.logout__btn:hover {
  background-color: rgb(182, 1, 1);
}

button:hover {
  background-color: black;
  color: white;
}

.register {
  color: blue;
  text-decoration: underline;
}
