.container {
  max-width: 350px;
  height: 470px;
  margin: auto;
  margin-top: 100px;
  text-align: center;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.title {
  padding: 20px 0px 5px 0px;
  font-weight: bold;
}

.subtitle {
  padding: 5px 0px 10px 0px;
}

.container__form {
  max-width: 280px;
  margin: auto;
  margin-top: 30px;
}

input {
  border: black 2px solid;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
}

/* INPUT FILE*/

.profile_image {
  opacity: 0;
  width: 0.1px;
  height: 0.1px;
  position: absolute;
}

.container__profile__image {
  margin: 10px;
}

.container__profile__image label {
  border: black 2px solid;
  border-radius: 10px;
  padding: 5px 10px;
}

button {
  border: black 2px solid;
  border-radius: 10px;
  padding: 5px 10px;
  margin: 10px;
  transition: 0.5s;
}

button:hover {
  background-color: black;
  color: white;
}

.login {
  color: blue;
  text-decoration: underline;
}
