<link rel="stylesheet" href="/static/css/createpost.css" />

<nav class="nav__bar">
  <ul class="nav__links">
    <li class="nav__items"><a href="http://localhost:8080/home">HOME</a></li>
    <li class="nav__items"><a href="http://localhost:8080/myposts">MY POSTS</a></li>
    <li class="nav__items"><a href="http://localhost:8080/createpost">CREATE
        POST</a></li>
  </ul>
</nav>

<section id="create">
  <div class="container">
    <p class="title">CREATE POST</p>
    <div class="container__form">
      <form
        action="http://localhost:8080/createpost"
        method="post"
        enctype="multipart/form-data"
      >
        <div class="container__title">
          <input type="text" id="title" name="title" placeholder="title" />
        </div>
        <div class="container__description">
          <input
            type="text"
            id="description"
            name="description"
            placeholder="description"
          />
        </div>
        <div class="container__post__image">
          <input type="file" id="post_image" name="file" class="post_image" />
          <label for="post__image">Select Picture</label>
        </div>
        <div class="container__button">
          <button type="submit">Upload</button>
        </div>
      </form>
    </div>
  </div>
</section>