<link rel="stylesheet" href="/static/css/login.css" />

<section id="login">
  <div class="container">
    <p class="title">WELCOME TO CMS</p>
    <p class="subtitle">LOGIN</p>
    <div class="container__form">
      <form action="">
        <div class="container__username">
          <input
            type="text"
            id="username"
            name="username"
            placeholder="username"
          />
        </div>
        <div class="container__password">
          <input
            type="password"
            id="password"
            name="password"
            placeholder="password"
          />
        </div>
        <div class="container__button">
          <button type="submit">Login</button>
        </div>
      </form>
      <div>
        <p>or register <a href="http://localhost:8080/register">here</a></p>
      </div>
    </div>
  </div>
</section>