<link rel="stylesheet" href="/static/css/profile.css" />

<section id="profile">
  <div class="container">
    <div class="container__profile__image">
      <img src="/static/{{this.profile_image}}" alt="" />
    </div>
    <div class="container__info__profile">
      <p>{{this.username}}</p>
      <p>{{this.email}}</p>
    </div>

    <div class="container__form">
      <a class="logout__btn" href="/logout">Log Out</a>
    </div>
  </div>
</section>