<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/static/css/global.css" />
    <title>CMS</title>
  </head>
  <body>
    {{#unless hideNavbar}}
      <nav class="nav__bar">
        <ul class="nav__links">
          <li class="nav__items"><a href="/home">HOME</a></li>
          <li class="nav__items"><a href="/myposts">MY POSTS</a></li>
          <li class="nav__items"><a href="/createpost">CREATE POST</a></li>
          <li class="nav__items"><a href="/profile">{{this.username}}</a></li>
        </ul>
      </nav>
    {{/unless}}
    {{{body}}}
  </body>
</html>